/* @import "daviddarnes/alembic@main"; */
.container_new{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
    /* background-color: aqua; */
}

.grid_container{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 5px; 
}

.xaiImage{
    /* transform: scale(1.5); */
    /* height: 300; */
    /* width: 500;  */
    object-fit: cover;
    object-position: 10% 70%;
    overflow: hidden; 
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #03993c;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #03993c;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00fc71;
    width: 120px;
    height: 120px;
     /* -webkit-animation: spin 2s linear infinite; Safari  */
    animation: spin 2s linear infinite;
  } 

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #Progress {
    margin-top: 20px;
    width: 300px;
    background-color: rgb(167, 201, 168);
    display: flex;
    justify-content: left;
    border-radius: 50px;
  }
  
  #progressBar {
    border-radius: 50px;
    width: 1%;
    height: 40px;
    background-color: forestgreen;
    text-align: center;
    line-height: 40px;
    color: white;
  }

  /* .informations{
    background-color: #00fc71;
    max-height: 250px;
    max-width: 800px;
  } */

  .extra_information{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(2, 66, 63);
  }